input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 60px;
}

body {
    background-color: #EEF6FF;
}