::placeholder {
    font-family: 'Sahitya', sans-serif;
}

body {
  font-family: 'Sahitya', sans-serif;
  overflow-x: hidden;
}

.item-container {
    display: flexbox;
    align-items: center;
    z-index: 1;
}

.item {
    padding: 5px;
    display: flex;
    width: 125%;
    cursor: pointer;
}

.items-list {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.button-list {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-container:hover .button-list {
    display: block;
}

.button-active{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.button-list a:hover {
    background-color: #000000;
}

.items-list :hover {
    background-color: red;
}

a, li {
    text-decoration: none;
    color: black;
    margin: 2px;
}

#sell {
  border-radius:60px;
  width: auto;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#searchbar {
  border-radius: 60px;
}

#nav-icon {
  border: solid 2px;
  border-radius: 60px;
  padding: 5px;
  margin-left: 3px;
}

#nav-icon :hover {
  background-color: grey;
  transition: ease-in-out 0.2s;
}

.dropbtn {
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}